# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\self_learning\shiro\springboot-shiro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
